<!--   weather-item.component.ts  HTML -->
<div class="well">
  <h2>{{ weatherItem.cityName }}</h2>
  <p><span class="label label-primary">Temp </span>&nbsp;
    {{ weatherItem.temperature }}°F</p>
  <p><span class="label label-info">Outlook </span>&nbsp;
    {{ weatherItem.description }}</p>
</div>
<!--   END HTML -->
