<!--   weather-list.component.ts  HTML -->
<div class="weather-list">
  <app-weather-item *ngFor="let weatherItem of weatherItems"
                    [item]="weatherItem">
  </app-weather-item>
</div>
<!--   END HTML -->
