<div class="container">
<div class="col-md-3">
  <app-sidebar></app-sidebar>
</div>
  <div class="col-md-9">
    <app-weather-search></app-weather-search>
    <app-weather-list></app-weather-list>
  </div>
</div>
